<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/styles/home.css">
    <main>
        <section class="imageView">
            <div class="poster">
                <div class="titleContainer">
                    <h1>BE SMARTER, <span>TOGETHER</span></h1>
                </div>
            </div>
        </section>
        <div class="optionsContainer">
            <a class="goPosts" href="/posts">
                <div class="iconPost">
                    <i class="fa-solid fa-graduation-cap fa-2xl" style="color: #5ac8fa;"></i>
                </div>
                <h3>
                    Ver publicaciones
                </h3>
                <p>
                    Conoce todos las publicaciones de Tutorly y conecta con otros estudiantes.
                </p>
            </a>
            <a class="goTutors" href="/educators">
                <div class="iconPost">
                    <i class="fa-solid fa-school fa-2xl" style="color: #5ac8fa;"></i>
                </div>
                <h3>
                    Ver Tutores
                </h3>
                <p>
                    Conoce a las personas que estan ahi para ayudarte durante los tiempos dificiles.
                </p>
            </a>
        </div>
        <hr>
        <div class="textContainer">
            <h2>
                Estudia, aprende y comparte
            </h2>
            <p>
                Nosotros, como desarrolladores de Tutorly y estudiantes activos de la Universidad EAFIT, estamos
                trabajando para hacer la vida estudiantil mucho más fácil proporcionando una forma de compartir y
                ayudarnos mutuamente en los años más difíciles de nuestras carreras. Maximizamos la forma en que
                interactúan los académicos y los estudiantes, haciéndola más rápida, sencilla y eficiente. Tenemos la
                intención de ayudarte a aprovechar al máximo todos los recursos que tenemos como miembros activos de la
                comunidad, mostrándote que estudiar es mejor cuando no estás solo.
            </p>
        </div>
    </main>
    <footer class="footer py-3 mt-auto">
        <div class="container">
            <span>&copy;Tutorly P1 EAFIT-2023-2</span>
        </div>
    </footer>