<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/styles/home.css">
    <script src="https://kit.fontawesome.com/d1023b5858.js" crossorigin="anonymous"></script>
    <main>
        <section class="imageView">
            <div class="poster">
                <div class="titleContainer">
                    <h1>BE SMARTER, <span>TOGETHER</span></h1>
                </div>
            </div>
        </section>
        <div class="optionsContainer">
            <a class="goPosts" href="/posts">
                <div class="iconPost">
                    <i class="fa-solid fa-graduation-cap fa-2xl" style="color: #5ac8fa;"></i>
                </div>
                <h3>
                    Ver publicaciones
                </h3>
                <p>
                    Conoce todos las publicaciones de Tutorly y conecta con otros estudiantes.
                </p>
            </a>
            <a class="goTutors" href="#">
                <div class="iconPost">
                    <i class="fa-solid fa-school fa-2xl" style="color: #5ac8fa;"></i>
                </div>
                <h3>
                    Ver Tutores
                </h3>
                <p>
                    Conoce a las personas que estan ahi para ayudarte durante los tiempos dificiles.
                </p>
            </a>
        </div>
        <hr>
        <div class="textContainer">
            <h2>
                Estudia, aprende y comparte
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum assumenda alias ex libero iste. Ad, perspiciatis. Dignissimos expedita hic vitae? Ab cumque accusamus eum neque nemo ex quaerat dolor!
                Neque itaque in pariatur ex aspernatur architecto dolorum, voluptate consequuntur voluptatibus eaque! Provident fuga autem maiores consequuntur optio, voluptatem illum expedita! Odio illum labore ad quam, laborum veritatis accusantium laudantium!
            </p>
        </div>
 
        
    </main>
    <footer class="footer py-3 mt-auto">
        <div class="container">
            <span>&copy;Tutorly P1 EAFIT-2023-2</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>