<link rel="stylesheet" href="styles/sidebar.css" />
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<div class="wrapper">
  <div class="sidebar">
    <p class="title">Escuelas</p>
    <ul class="categories">
      <li>
        <div class="side-dropdown">
          <div class="select">
            <a class="selected"
              >Ciencias Aplicadas e Ingeniería<i class="fas fa-chevron-down"></i
            ></a>
            <div class="caret"></div>
          </div>
          <ul class="menu">
            <li>
              <a class="degree" href="/educators?degree=Ingeniería Mecánica"
                >Mecánica</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Ingeniería de Procesos"
                >Procesos</a
              >
            </li>
            <li>
              <a
                class="degree"
                href="/educators?degree=Ingeniería de Producción"
                >Producción</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Ingeniería de Sistemas"
                >Sistemas</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Ingeniería Agronómica"
                >Agronomía</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Biología">Biología</a>
            </li>
            <li>
              <a class="degree" href="/educators?degree=Geología">Geología</a>
            </li>
            <li>
              <a class="degree" href="/educators?degree=Ingeniería Matemática"
                >Matemática</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Ingeniería Física"
                >Física</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Ingeniería Civil"
                >Civil</a
              >
            </li>
            <li>
              <a
                class="degree"
                href="/educators?degree=Ingeniería de Diseño de Producto"
                >Diseño de Producto</a
              >
            </li>
            <li>
              <a
                class="degree"
                href="/educators?degree=Diseño urbano y gestion habitad"
                >Diseño urbano y gestion habitad</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="side-dropdown">
          <div class="select">
            <a class="selected"
              >Administración<i class="fas fa-chevron-down"></i
            ></a>
            <div class="caret"></div>
          </div>
          <ul class="menu">
            <li>
              <a
                class="degree"
                href="/educators?degree=Administración de Negocios"
                >Administración de Negocios</a
              >
            </li>
            <li>
              <a
                class="degree"
                href="/educators?degree=Negocios Internacionales"
                >Negocios Internacionales</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Contaduría Pública"
                >Contaduría Pública</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Mercadeo">Mercadeo</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="side-dropdown">
          <div class="select">
            <a class="selected">Derecho<i class="fas fa-chevron-down"></i></a>
            <div class="caret"></div>
          </div>
          <ul class="menu">
            <li>
              <a class="degree" href="/educators?degree=Derecho">Derecho</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="side-dropdown">
          <div class="select">
            <a class="selected"
              >Artes y Humanidades<i class="fas fa-chevron-down"></i
            ></a>
            <div class="caret"></div>
          </div>
          <ul class="menu">
            <li>
              <a class="degree" href="/educators?degree=Música">Música</a>
            </li>
            <li>
              <a class="degree" href="/educators?degree=Comunicación Social"
                >Comunicación Social</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Psicología"
                >Psicología</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Literatura"
                >Literatura</a
              >
            </li>
            <li>
              <a class="degree" href="/educators?degree=Diseño Interactivo"
                >Diseño Interactivo</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="side-dropdown">
          <div class="select">
            <a class="selected"
              >Finanzas, Economía y Gobierno<i class="fas fa-chevron-down"></i
            ></a>
            <div class="caret"></div>
          </div>
          <ul class="menu">
            <li>
              <a class="degree" href="/educators?degree=Finanzas">Finanzas</a>
            </li>
            <li>
              <a class="degree" href="/educators?degree=Economía">Economía</a>
            </li>
            <li>
              <a class="degree" href="/educators?degree=Ciencias Políticas"
                >Ciencias Políticas</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<script src="/scripts/sidebar.js"></script>
