<nav class="navbar navbar-expand-lg sticky-top bg-black border-bottom border-bottom-dark" data-bs-theme="dark"">
    <div class="container-fluid">
        <a class="navbar-brand fw-medium" href="http://localhost:3000/">Tutor<span style="color: #5ac8fa;">ly</span> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/posts">All posts</a>
                </li>
                <% if (currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts/new">New post</a>
                    </li>
                <% } %>
            </ul>
            <div class="d-flex">
                <div class="navbar-nav">
                    <% if (!currentUser) { %>
                        <a class="nav-link" href="/login">Log-In</a>
                        <a class="nav-link" href="/register">Register</a>
                    <% }else{ %>
                        <a class="nav-link" href="/logout">Log-Out</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>