<script src="https://kit.fontawesome.com/d1023b5858.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg sticky-top bg-black border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-medium" href="/">Tutor<span style="color: #5ac8fa;">ly</span> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Publicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analytics">Datos</a>
                  </li>
                <% if (currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts/new">Publicar</a>
                    </li>
                <% } %>
            </ul>
            <div class="d-flex">
                <div class="navbar-nav d-flex justify-content-center align-items-center">
                    <% if (!currentUser) { %>
                        <a class="nav-link" href="/login">Ingresar</a>
                        <a class="nav-link" href="/register">Registrarse</a>
                    <% }else{ %>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: black;">
                                    @<%=currentUser.name%>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" style="background-color: black;">
                                  <li style="background-color: black;" ><a class="dropdown-item" href="/personal/<%=currentUser._id%>">Perfil</a></li>
                                  <li style="background-color: black;" ><a class="dropdown-item" href="/logout">Salir</a></li>
                                </ul>
                            </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>