<link rel="stylesheet" href="styles/sidebar.css" />
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<div class="wrapper">
    <div class="sidebar">
        <p class="title">Escuelas</p>
        <ul class="categories">
            <li>
                <div class="dropdown">
                    <div class="select">
                        <a class="selected"
                            >Ingenierias<i class="fas fa-chevron-down"></i
                        ></a>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <li>
                            <a href="posts?degree=Ingeniería Mecánica"
                                >Mecánica</a
                            >
                        </li>
                        <li>
                            <a href="posts?degree=Ingeniería de Procesos"
                                >Procesos</a
                            >
                        </li>
                        <li>
                            <a href="posts?degree=Ingeniería de Producción"
                                >Producción</a
                            >
                        </li>
                        <li>
                            <a href="posts?degree=Ingeniería de Sistemas"
                                >Sistemas</a
                            >
                        </li>
                        <li>
                            <a href="posts?degree=Ingeniería Agronómica"
                                >Agronomía</a
                            >
                        </li>
                        <li><a href="posts?degree=Biología">Biología</a></li>
                        <li><a href="posts?degree=Geología">Geología</a></li>
                        <li>
                            <a href="posts?degree=Ingeniería Matemática"
                                >Matemática</a
                            >
                        </li>
                        <li>
                            <a href="posts?degree=Ingeniería Física">Física</a>
                        </li>
                        <li>
                            <a href="posts?degree=Ingeniería Civil">Civil</a>
                        </li>
                        <li>
                            <a
                                href="posts?degree=Ingeniería de Diseño de Producto"
                                >Diseño de Producto</a
                            >
                        </li>
                        <li>
                            <a
                                href="posts?degree=Diseño urbano y gestion habitad"
                                >Diseño urbano y gestion habitad</a
                            >
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <div class="select">
                        <a class="selected"
                            >Administracion<i class="fas fa-chevron-down"></i
                        ></a>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <li>
                            <a href="posts?degree=Administración de Negocios"
                                >Administración de Negocios</a
                            >
                        </li>
                        <li>
                            <a href="posts?degree=Negocios Internacionales"
                                >Negocios Internacionales</a
                            >
                        </li>
                        <li>
                            <a href="posts?degree=Contaduría Pública"
                                >Contaduría Pública</a
                            >
                        </li>
                        <li><a href="posts?degree=Mercadeo">Mercadeo</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <div class="select">
                        <a class="selected"
                            >Derecho<i class="fas fa-chevron-down"></i
                        ></a>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <li><a href="posts?degree=Derecho">Derecho</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <div class="select">
                        <a class="selected"
                            >Artes y humanidades<i
                                class="fas fa-chevron-down"></i
                        ></a>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <li><a href="posts?degree=Música">Música</a></li>
                        <li>
                            <a href="posts?degree=Comunicación Social"
                                >Comunicación Social</a
                            >
                        </li>
                        <li>
                            <a href="posts?degree=Psicología">Psicología</a>
                        </li>
                        <li>
                            <a href="posts?degree=Literatura">Literatura</a>
                        </li>
                        <li>
                            <a href="posts?degree=Diseño Interactivo"
                                >Diseño Interactivo</a
                            >
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <div class="select">
                        <a class="selected"
                            >Economia<i class="fas fa-chevron-down"></i
                        ></a>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <li><a href="posts?degree=Finanzas">Finanzas</a></li>
                        <li><a href="posts?degree=Economía">Economía</a></li>
                        <li>
                            <a href="posts?degree=Ciencias Políticas"
                                >Ciencias Políticas</a
                            >
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="/scripts/sidebar.js"></script>
