main {
  color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.user-degree {
  margin-left: 15px;
  width: 40%;
}

hr {
  width: 99%;
  border: solid 2px white;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

.visualContainer {
  width: 20%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-groups {
  width: 20%;
  margin: 20px;
  background-color: #333333;
  border-radius: 20px;
  padding: 20px;
}

.user-picture {
  max-height: 100%;
}

.infoContainer {
  width: 60%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  background-color: #333333;
  border-radius: 20px;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.file-upload {
  display: none;
}

.profile-pic {
  width: 200px;
  max-height: 200px;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.image {
  border-radius: 100%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  top: 20px;
  margin-bottom: 50px;
}

.commentInput {
  background-color: #333333;
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.info-from {
  width: 100%;
}

.upload-icon {
  position: absolute;
  top: 34%;
  left: 42%;
  color: #666666;
  font-size: 2em;
}

.fa-solid {
  cursor: pointer;
}

.socials {
  width: 80%;
  height: 60%;
  background-color: #333333;
  border-radius: 20px;
  padding: 20px;
}

.buttons-description {
  margin-bottom: 10px;
}

.userInfo {
  width: 100%;
  height: 30%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-bottom: solid 3px #666666;
  padding-bottom: 20px;
}
.prContainer {
  flex-basis: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.prContainer h1 {
  flex-basis: 15%;
  display: flex;
  align-items: center;
}

.prContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 15%;
  text-decoration: none;
  color: #5ac8fa;
}

.userInfo p {
  font-size: 20px;
  flex-basis: 50%;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}
.userInfo h3 {
  flex-basis: 20%;
  height: fit-content;
  margin-top: 10px;
}
.userPosts {
  width: 100%;
  height: fit-content;
}
.chContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.chContainer h2 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.chContainer form{
  width: 100%;
}

.postsContainer{
  display: flex;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: row;
}
.post{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  width: 32.2%;
  height: 25em;
  border-radius: 20px;
  background-color:#232323;
  margin: 5px;
  padding: 20px;
  text-decoration: none;
  color: #ffff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.body{
  padding-top: 5px;
  height: 30%;
  overflow-y: hidden;
  font-size: large;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.faculty {
  height: 10%;
  font-weight: bold;
}

.attachments {
  height: 10%;
  font-weight: bold;
}
.post small {
  height: 10%;
  display: flex;
  align-items: end;
  font-weight: bold;
  height: fit-content;
}

.viewSelect{
  height: 4rem;
  width: 40%;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 20px ;
  margin-bottom: 20px;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.viewSelect option{
  background-color: #555;
  color: #c2c2c2;
}

.viewSelect:hover{
  background-color: #555;
}
.post:hover{
  transform: translateY(-0.20em);
  box-shadow: 0 0.5em 0.5em -0.4em #333333;
}
/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
