.container {
  display: flex;
  flex-direction: row;
  margin-left: 400px;
}

.name {
  text-align: center;
}

.posts {
  background-color: antiquewhite;
  width: 70%;
}

.buttons {
  margin: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
}


