body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}
.homeLinks{
    text-decoration: none;
    color: #7798AB;
}

.title{
    font-size: 130px;
    transition: color 0.3s;
}

.homeButton{
    font-family: roboto,sans-serif;
    text-decoration: none;
    background-color: #7798AB;
    border: 2px solid #1e6091;
    color: #1e6091;
    font-size: 1em;
    border-radius: 10px;
    padding: 1em 2em;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
}

.cover-container{
    max-width: 60vw;
}

.homeButton:hover{
    border: 2px solid #34a0a4;
    color: white;
    transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em #34a0a4;
    cursor: pointer;
}

.homeLinks:hover{
    color: white;
    cursor:pointer;
}
