.poster{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    height: 60vh;
    background-position: 20% 55%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://images.unsplash.com/photo-1564910443496-5fd2d76b47fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2535&q=80");
}


.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50%;
    height: 100%;
}

.titleContainer h1{
    font-size: 120px;
    width: 90%;
}

.titleContainer span{
    color: #5ac8fa;
}

.textContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0;
}
