body{
    background-color: #232323;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    overflow: hidden;
}
main .middlePart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #333333;
    border-right: 2px solid #333333;
    width: 60%;
    overflow-y: scroll;
}
main .searchBar{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 30px;
   height: 2.5em;
   width: 98%;
}

main .postsContainer{
    width: 88.2%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.post{
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #232323;
    padding: 10px;
    transition: transform 0.3s, background-color 0.3s;
    color: white;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    color: #C2C2C2;

}

.post #title{
    flex-basis: 80%;
}
.post #author{
    flex-basis: 20%;
    text-align: end;
}
.post #body{
    flex-basis: 100%;
}

.post #faculty{
    flex-basis: 40%;
    text-align: start;
}
.post #degree{
    flex-basis: 40%;
    text-align: start;
}
.post #votes{
    flex-basis: 20%;
    text-align: center;
}

.postsContainer .post h1{
    margin-top: 0;
}

nav .searchComponents{
    /* background-color: white; */
    display: flex;
    justify-content: center;
    width: 90%;
}

nav .searchComponents button{
    background-color: #5AC8FA;
    border-radius: 20px;
    border: none;
    flex-grow:0.05;
    width: 6em;
}

nav .searchComponents input{
    background-color:#333333;
    border: none;
    flex-grow: 1;
    border-radius: 20px;
    margin-right: 20px;
    outline: none;
    color: #C2C2C2;
   
}
nav .searchComponents input:focus{
  background-color: #333333;
  outline: none;
  box-shadow: none;
  color: #C2C2C2;

}
/* ::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #5AC8FA;
} */
.postsContainer div:hover{
    background-color: #333333;
}
