body {
  background-color: #232323;
}

hr {
  width: 100%;
  border: solid 2px #333333;
  margin-bottom: 30px;
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
}
main .middlePart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #333333;
  border-right: 2px solid #333333;
  width: 60%;
  overflow-y: scroll;
}
main .searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
  height: 2.5em;
  width: 98%;
}

main .educatorContainer {
  width: 82.2%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: start;
  text-decoration: none;
  margin: 10px;
}
.educatorContainer a {
  text-decoration: none;
  width: 47.8%;
  margin: 10px;
}
.educatorCard {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #424242;
  padding: 10px;
  transition: transform 0.3s, background-color 0.3s;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #c2c2c2;
  margin: 10px;
}

.nameDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

.educatorCard #author {
  flex-basis: 20%;
  text-align: end;
  color: #5ac8fa;
}
.educatorCard #body {
  flex-basis: 100%;
  margin-left: 10px;
}

.educatorCard #faculty {
  flex-basis: 50%;
  text-align: start;
  font-weight: bold;
}
.educatorCard #attachments {
  flex-basis: 30%;
  text-align: start;
  font-weight: bold;
}
.educatorCard #votes {
  flex-basis: 10%;
  text-align: center;
  font-weight: bold;
}

.educatorContainer .educatorCard h1 {
  margin-top: 0;
}

nav .searchComponents {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  width: 90%;
}

nav .searchComponents button {
  background-color: #5ac8fa;
  border-radius: 20px;
  border: none;
  flex-grow: 0.05;
  width: 6em;
}

nav .searchComponents input {
  background-color: #333333;
  border: none;
  flex-grow: 1;
  border-radius: 20px;
  margin-right: 20px;
  outline: none;
  color: #c2c2c2;
}
nav .searchComponents input:focus {
  background-color: #333333;
  outline: none;
  box-shadow: none;
  color: #c2c2c2;
}
/* ::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: #5AC8FA;
} */
.educatorCard:hover {
  transform: translateY(-0.2em);
}

.user-picture {
  max-height: 100%;
}

.file-upload {
  display: none;
}

.profile-pic {
  width: 200px;
  max-height: 200px;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.image {
  border-radius: 100%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  top: 20px;
  margin-bottom: 50px;
}

.imageContainer {
  align-items: center;
  width: 100%;
  justify-content: center;
}

.topEducatorContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.educatorsTitle h1 {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  color: #ffff;
}

.bottomEducatorCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.educatorDegree {
  font-weight: bold;
}
