<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/styles/login.css">
<script src="https://kit.fontawesome.com/d1023b5858.js" crossorigin="anonymous"></script>

<main class="sectionContainer">
    <section class="mainSection">
        <div class="imageContainer">
            <img src="https://images.unsplash.com/photo-1503924087716-07cbd5f49b21?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2564&q=80" alt="" class="img-fluid rounded-start">
        </div>
        <div class="formContainer">
            <div class="loginForm">
                <div class="infoContainer">             
                    <h1 class="text-center">Inicia sesion</h1>
                    <p class="text-center">Bienvenido de nuevo! ingresa con tu email y contraseña.</p>
                </div>
                <form action="/login" class="valuesContainer" method="post"> 
                    <div class="inputContainer">
                        <i class="fa-solid fa-envelope fa-2xl"></i>
                        <input type="email" name="username" id="username" placeholder="Ejemplo@eafit.edu.co" required>
                    </div>
                    <div class="inputContainer">
                        <i class="fa-solid fa-lock fa-2xl"></i>
                        <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    </div>
                    <div class="buttonWrapper">
                        <button type="submit">Ingresar</button>
                    </div>
                    <%- include('../templates/flash') %>
                </form>
            </div>
        </div>
    </section>
</main>