<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/styles/login.css">


<main class="sectionContainer">
    <section class="mainSection">
        <div class="imageContainer">
            <img src="https://images.unsplash.com/photo-1506792006437-256b665541e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80" alt="" class="img-fluid rounded-start">
        </div>
        <div class="formContainer">
            <div class="loginForm">
                <h1 class="">Inicia sesion</h1>
                <p class="">Bienvenido de nuevo! ingresa con tu email y contraseña.</p>
                <form action="">
                    <div class="inputContainer">
                        <label for="correo">Correo</label>
                        <input type="email" name="" id="email">
                    </div>
                    <div class="inputContainer">
                        <label for="contraseña">Contraseña</label>
                        <input type="password" name="" id="password">
                    </div>
                    <button class="btn btn-primary">Ingresar</button>
                </form>
            </div>
        </div>
    </section>
</main>