<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/styles/register.css">
<script src="https://kit.fontawesome.com/d1023b5858.js" crossorigin="anonymous"></script>

<main class="sectionContainer">
    <section class="mainSection">
        <div class="imageContainer">
            <img src="https://images.unsplash.com/photo-1608280392091-724833b66c2b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2582&q=80" alt="" class="img-fluid rounded-start">
        </div>
        <div class="formContainer">
            <div class="loginForm">
                <div class="infoContainer">             
                    <h1 class="text-center">Registrate</h1>
                    <p class="text-center">Bienvenido! Registrate con tu email y crea una contraseña para acceder a todo lo que tutorly puede ofrecer.</p>
                </div>
                <form action="/register" class="valuesContainer" method="post"> 
                    <div class="inputContainer">
                        <i class="fa-solid fa-envelope fa-2xl"></i>
                        <input type="email" name="email" id="username" placeholder="Ejemplo@eafit.edu.co" required>
                    </div>
                    <div class="inputContainer">
                        <i class="fa-solid fa-lock fa-2xl"></i>
                        <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    </div>
                    <div class="inputContainer">
                        <i class="fa-solid fa-school fa-xl"></i>
                        <select name="degree" id="deegreSelector" required>
                          <option value="" disabled>Selecciona el pregrado</option>
                          <!-- Administración -->
                          <option disabled>Escuela de Administración</option>
                          <option value="Administración de Negocios">Administración de Negocios</option>
                          <option value="Negocios Internacionales">Negocios Internacionales</option>
                          <option value="Contaduría Pública">Contaduría Pública</option>
                          <option value="Mercadeo">Mercadeo</option>
                          
                          <!-- ECONOMIA -->
                          <option disabled>Escuela de Economía y Finanzas</option> 
                          <option value="Ciencias Políticas">Ciencias Políticas</option>
                          <option value="Economía">Economía</option>
                          <option value="Finanzas">Finanzas</option>
                          
                          <!-- Artes y humanidades -->
                          <option disabled>Artes y humanidades</option> 
                          <option value="Música">Música</option>
                          <option value="Comunicación Social">Comunicación Social</option>
                          <option value="Psicología">Psicología</option>
                          <option value="Literatura">Literatura</option>
                          <option value="Diseño Interactivo">Diseño Interactivo</option>
                          <!-- derecho -->
                          <option disabled>Escuela de derecho</option>
                          <option value="Derecho">Derecho</option>
                          <!-- INGENIERIAS -->
                          <option disabled>Escuela de Ingeniería</option>
                          <option value="Ingeniería Mecánica">Ingeniería Mecánica</option>
                          <option value="Ingeniería de Procesos">Ingeniería de Procesos</option>
                          <option value="Ingeniería de Producción">Ingeniería de Producción</option>
                          <option value="Ingeniería de Sistemas">Ingeniería de Sistemas</option>
                          <option value="Ingeniería Agronómica">Ingeniería Agronómica</option>
                          <option value="Biología">Biología</option>
                          <option value="Geología">Geología</option>
                          <option value="Ingeniería Matemática">Ingeniería Matemática</option>
                          <option value="Ingeniería Física">Ingeniería Física</option>
                          <option value="Ingeniería Civil">Ingeniería Civil</option>
                          <option value="Ingeniería de Diseño de Producto">Ingeniería de Diseño de Producto</option>
                          <option value="Diseño urbano y gestion habitad">Diseño urbano y gestion habitad</option>
                        </select>
                    </div>
                    <div class="inputContainer">
                        <label for="isAdmin">Soy admin</label>
                        <input type="checkbox" name="isAdmin" id="isAdmin">
                        <label for="isEducator">Soy educador</label>
                        <input type="checkbox" name="isEducator" id="isEducator">
                    </div>
                    <div class="buttonWrapper">
                        <button type="submit">Registrate</button>
                    </div>
                    <%- include('../templates/flash') %>
                </form>
            </div>
        </div>
    </section>
</main>