<% layout('layout/boilerplate') %>
<body>
  <div class="row mt-5">
    <div class="col-6 offset-3">
      <div class="card">
        <form action="/posts" method="post" class="card-body">
          <fieldset>
            <legend class="text-center title">Upload a new post</legend>
            <div class="mb-3">
              <label for="Title" class="form-label">Enter the title</label>
              <input type="text" id="title" class="form-control" placeholder="Title" name="title" />
            </div>

            <div class="mb-3">
              <label for="author" class="form-label">Enter the author</label>
              <input type="text" id="author" class="form-control" placeholder="Author" name="author" />
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Enter the description</label>
              <textarea name="body" id="" cols="5" rows="4" class="form-control" placeholder="Description"></textarea>
            </div>
            <div class="mb-3">
              <label for="Title" class="form-label">Enter the tags</label>
              <input type="text" id="tags" class="form-control" placeholder="Tags" name="tags" />
            </div>
            <div class="mb-3">
              <label for="Title" class="form-label">Enter the image URL</label>
              <input type="text" id="img" class="form-control" placeholder="URL" name="image" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</body>
